# Ignore virtual environment folders
__pycache__/

# Ignore Visual Studio Code settings
.vscode/

# Ignore environment file
.env
.venv

# Ignore generated configuration files
env.txt
app/config.py

# Handle migrations
alembic
alembic.ini


