# Say No to virtual environment
.env

# I like catching but you will not if it my cache isn't it?
*__pycache__


# I don't like to impose my vscode setting into you 
.vscode

# I really no like to share any secrets releated to database and authentication 
.conf